@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row border">
        <div class="col-3">
            <h4>Full Name</h4>
        </div>

        <div class="col row">
            <div class="col">
                <input type="type" name="name" value="" />
                <span class="span-text">Last Name</span>
            </div>
            <div class="col">
                <input type="type" name="name" value="" />
                <span>First Name</span>
            </div>
            <div class="col">
                <input type="type" name="name" value="" />
                <span>Middle Name</span>
            </div>
            <div class="col">
                <input type="type" name="name" value="" />
                <span>Suffix</span>
            </div>
        </div>
    </div>
    <div class="row border">
        <div class="col-3">
            <h4>Adress</h4>
        </div>

        <div class="col row">
            <div class="row">
                <div>
                    <input class="input-text-size" type="type" name="name" value="" />
                    <span class="span-text">Street Address</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="input-text-size" type="type" name="name" value="" />
                    <span class="span-text">City</span>
                </div>
                <div class="col">
                    <input class="input-text-size" type="type" name="name" value="" />

                    <span class="span-text">State/Province</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row border">
        <div class="col-3">
            <h4>Birth Date</h4>
        </div>

        <div class="col row">
            <div class="col">
                <input class="input-text-size type=" type" name="name" value="" />
                <span class="span-text">Month</span>
            </div>
            <div class="col">
                <input class="input-text-size type=" type" name="name" value="" />
                <span class="span-text">Day</span>
            </div>
            <div class="col">
                <input class="input-text-size type=" type" name="name" value="" />
                <span class="span-text">Year</span>
            </div>

        </div>
    </div>
    <div class="row border">
        <div class="col-3">
            <h4>Gender</h4>
        </div>

        <div class="col row">
            <div class="col">
                <input type="checkbox" />
                <span>Male</span>
            </div>
            <div class="col">
                <input type="checkbox" />
                <span>Female</span>
            </div>
            <div class="col">
                <input type="checkbox" />
                <span>N/A</span>
            </div>
        </div>
    </div>
    <div class="row border">
        <div class="col-3">
            <h4>Phone Number</h4>
        </div>

        <div class="col row">
            <div class="col">
                <input class="input-text-size" type="type" name="name" value="" />
                <span class="span-text">Phone Number</span>
            </div>
        </div>
    </div>
    <div class="row border">
        <div class="col-3">
            <h4>Instructor Email</h4>
        </div>

        <div class="col row">
            <div class="col">
                <input class="input-text-size" type="type" name="name" value="" />
                <span class="span-text">Email</span>
            </div>
        </div>
    </div>
</div>
